<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nam sint quia. Dolore animi molestiae ab
      voluptatibus voluptatum esse beatae vel doloremque laborum quos velit fugiat doloribus quisquam a, corporis
      necessitatibus iste perferendis ut consectetur, excepturi optio commodi nemo illum?</p>
  </div>
</div>
